{% extends 'reservationsapp/base.html' %}

{% block title %}Créer une nouvelle réservation{% endblock %}

{% block content %}
<style>
    .map {
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 25px;
        width: 100%;
        height: 400px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
    }
</style>

<div class="container mt-4 mb-4">
    <h2>Nouvelle réservation</h2>
    <form method="post">
        {% csrf_token %}
        <h4>Détails client</h4>
        <div class="d-flex justify-content-between mt-4">
        {{ client_form.as_p }}
        </div>
        <h4>Détails de la réservation</h4>
        {{ reservation_form.as_p }}
        <p>Si vous n'avez enregistré aucun passager • <a href="{% url 'create_passager' %}"class="btn btn-primary">cliquez ici</a></p>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
    <div id="map" class="map"></div>
    <button id="zoom-out" class="btn btn-primary">Zoom out</button>
    <button id="zoom-in" class="btn btn-primary">Zoom in</button>
</div>

{% load static %}
<script src="{% static 'javascript/main.js' %}" type="module"></script>
{% endblock %}
