{% extends 'reservationsapp/base.html' %}

{% block title %}Créer une nouvelle réservation{% endblock %}

{% block content %}
<style>
    .map {
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 25px;
        width: 100%;
        height: 400px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
    }
</style>

<div class="container mt-4 mb-4">
    <h2>Nouvelle réservation</h2>
    <form method="post">
        {% csrf_token %}
        <h4>Détails client</h4>
        <div class="d-flex justify-content-between mt-4">
            {{ client_form.as_p }}
        </div>
        <h4>Détails de la réservation</h4>
        {{ reservation_form.as_p }}
        <p>Si vous n'avez enregistré aucun passager • <a href="{% url 'reservations:create_passager' %}" class="btn btn-primary">cliquez ici</a></p>
        <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>    
    <div id="map" class="map"></div>
    <button id="zoom-out" class="btn btn-primary">Zoom out</button>
    <button id="zoom-in" class="btn btn-primary">Zoom in</button>
</div>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/v9.1.0/ol/dist/ol.js"></script>
<script>
    // deserialize data
    var stations = {{ stations | safe }}

    // initialize vector source
    const vectorSource = new ol.source.Vector();

    // loop through the two consecutive stations of each route
    for (let i = 0; i < stations.length; i=i+2) {

        // get coordinates from stations
        const lat1 = stations[i].fields.latitude
        const long1 = stations[i].fields.longitude
        const lat2 = stations[i+1].fields.latitude
        const long2 = stations[i+1].fields.longitude

        // create point feature from coordinates
        const point_origin = new ol.Feature(new ol.geom.Point([long1, lat1]));
        const point_destination = new ol.Feature(new ol.geom.Point([long2, lat2]));
    
        // create line feature
        const line_route = new ol.Feature(
        new ol.geom.LineString([
            [long1, lat1],
            [long2, lat2],
        ]),
        );

        // add features to vector source
        vectorSource.addFeature(point_origin);
        vectorSource.addFeature(point_destination);
        vectorSource.addFeature(line_route);
      }

    // create a vector layer based on the respective vector source
    vectorLayer = new ol.layer.Vector({
    source: vectorSource,
    style: {
        'icon-src': '/static/images/icon.svg',
        'icon-anchor': [0.5, 1],
        'icon-anchor-x-units': 'fraction',
        'icon-anchor-y-units': 'fraction',
        'stroke-width': 3,
        'stroke-color': "#007bff",
        'fill-color': "#007bff",
    },
    });

    // create basic map with OSM layer and the new vector layer
    const map = new ol.Map({
    layers: [
        new ol.layer.Tile({
        source: new ol.source.OSM(),
        }),
        vectorLayer,
    ],
    target: 'map',
    // create view centered on France by default (e.g. if no stations are loaded)
    view: new ol.View({
        projection: 'EPSG:4326',
        center: [4, 46.75],
        zoom: 6
    }),
    // remove all default controls from the map
    controls: []
    });

    // add attribution to OPENLAYERS
    map.addControl(new ol.control.Attribution());

    // fit view to show all routes with defined padding
    extent = vectorSource.getExtent()
    if (extent) {
        map.getView().fit(
            extent,
            {
                padding: [100, 100, 100, 100]
            }
        );
    }

    // implement zoom-out button
    document.getElementById('zoom-out').onclick = function () {
    const view = map.getView();
    const zoom = view.getZoom();
    view.setZoom(zoom - 1);
    };

    // implement zoom-in button
    document.getElementById('zoom-in').onclick = function () {
    const view = map.getView();
    const zoom = view.getZoom();
    view.setZoom(zoom + 1);
    };
</script>
{% endblock %}
