{% extends 'reservationsapp/base.html' %}

{% block title %}Modifier la réservation{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Modifier la réservation</h2>
    <form method="post">
        {% csrf_token %}
        <h4>Détails du client</h4>
        {{ client_form.as_p }}

        <h4>Détails de la réservation</h4>
        {{ reservation_form.as_p }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    </form>
</div>
{% endblock %}
