{% extends 'reservationsapp/base.html' %}

{% block title %}Modifier la réservation{% endblock %}

{% block content %}

<link href="{% static 'css/reservationsapp/edit_reservation.css' %}" rel="stylesheet">

<div class="container mt-4 mb-4">
    <h2>Modifier la réservation</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-section">
            <h4>Détails du client</h4>
            <div class="d-flex flex-wrap justify-content-between mt-4">
                {{ client_form.as_p }}
            </div>
        </div>
        <div class="form-section">
            <h4>Détails de la réservation</h4>
            {{ reservation_form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    </form>
</div>
{% endblock %}
