{% extends 'reservationsapp/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/reservationsapp/list_journeys.css' %}" rel="stylesheet">

<div class="header-logo">
    <img src="{% static 'images/logositeweb.png' %}" alt="France Rail Logo">
</div>
<div class="container mt-3">

    <!-- Filter journeys form -->
    <div class="row justify-content-center">
        <div class="col-md-8 form-search">
            <form method="get">
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Filtrer les trajets</button>
            </form>
        </div>
    </div>

    

 <!-- Display the optimal path if best_route is available -->
{% if best_route %}
<div class="optimal-path">
    <h4>Optimal Path</h4>
    <p>Optimal path from start to end:</p>
    <ul>
        {% for station in best_route %}
        <li>{{ station }}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
 <!-- Otherwise, display the list of journeys -->
<div class="trajets-section">
    <div id="map" class="map"></div>
    <h3>Trajets disponibles</h3>
    {% for journey in page_obj %}
    <div class="card mb-2">
        <div class="card-body">
            <p>{{ journey.route.departure_station.city }} {{ journey.route.departure_station.station_name }} à {{ journey.route.arrival_station.city }} {{ journey.route.arrival_station.station_name }} - Départ : {{ journey.departure_date_time|date:"d M Y H:i" }}</p>
        </div>
    </div>
    {% empty %}
        <p>Aucun trajet disponible.</p>
    {% endfor %}
        
        <!-- Contrôles de pagination -->
        {% if page_obj.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
    <div class="text-center mb-2">
        <a href="{% url 'reservations:create_reservation' %}" class="btn btn-primary">Nouvelle réservation</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/v9.1.0/ol/dist/ol.js"></script>
<script>
    // deserialize data
    var stations = {{ stations | safe }}

    // initialize vector source
    const vectorSource = new ol.source.Vector();

    // loop through the two consecutive stations of each route
    for (let i = 0; i < stations.length; i=i+2) {

        // get coordinates from stations
        const lat1 = stations[i].fields.latitude
        const long1 = stations[i].fields.longitude
        const lat2 = stations[i+1].fields.latitude
        const long2 = stations[i+1].fields.longitude

        // create point feature from coordinates
        const point_origin = new ol.Feature(new ol.geom.Point([long1, lat1]));
        const point_destination = new ol.Feature(new ol.geom.Point([long2, lat2]));
    
        // create line feature
        const line_route = new ol.Feature(
        new ol.geom.LineString([
            [long1, lat1],
            [long2, lat2],
        ]),
        );

        // add features to vector source
        vectorSource.addFeature(point_origin);
        vectorSource.addFeature(point_destination);
        vectorSource.addFeature(line_route);
      }

    // create a vector layer based on the respective vector source
    vectorLayer = new ol.layer.Vector({
    source: vectorSource,
    style: {
        'icon-src': '/static/images/icon.svg',
        'icon-anchor': [0.5, 1],
        'icon-anchor-x-units': 'fraction',
        'icon-anchor-y-units': 'fraction',
        'stroke-width': 3,
        'stroke-color': "#007bff",
        'fill-color': "#007bff",
    },
    });

    // create basic map with OSM layer and the new vector layer
    const map = new ol.Map({
    layers: [
        new ol.layer.Tile({
        source: new ol.source.OSM(),
        }),
        vectorLayer,
    ],
    target: 'map',
    // create view centered on France by default (e.g. if no stations are loaded)
    view: new ol.View({
        projection: 'EPSG:4326',
        center: [4, 46.75],
        zoom: 6
    }),
    // remove all default controls from the map
    controls: []
    });

    // add attribution to OPENLAYERS
    map.addControl(new ol.control.Attribution());
</script>
{% endblock %}