{% extends 'reservationsapp/base.html' %}

{% block content %}
<h1>Liste des trajets</h1>
<form method="get">
    {{ form.as_p }}
    <button type="submit">Filtrer les trajets</button>
</form>

<div>
    <h2>Trajets disponibles</h2>
    {% for trajet in page_obj %}
        <p>{{ trajet.depgare.ville }} {{ trajet.depgare.nomgare }} à {{ trajet.arrgare.ville }} {{ trajet.arrgare.nomgare }} - Départ : {{ trajet.depdh }}</p>
    {% empty %}
        <p>Aucun trajet disponible.</p>
    {% endfor %}
</div>
<a href="{% url 'edit_reservation' %}">Nouvelle réservation</a>
{% endblock %}
