{% extends 'reservationsapp/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/reservationsapp/list_journeys.css' %}" rel="stylesheet">
<style>
    .header-logo {
        text-align: center;
        padding: 20px 0;
    }
    .header-logo img {
        width: 100px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
    .form-search, .trajets-section, .optimal-path {
        margin-top: 20px;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .btn-primary, .btn-success {
        margin-top: 20px;
    }
</style>

<div class="header-logo">
    <img src="{% static 'images/logositeweb.png' %}" alt="France Rail Logo">
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8 form-search">
            <form method="get">
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Rechercher les trajets</button>
            </form>
        </div>
    </div>

    <!-- Display optimal path or available journeys -->
    {% if best_route %}
    <div class="optimal-path">
        <h4>Optimal Path</h4>
        <ul>
            {% for segment in best_route %}
            <li>{{ segment.station }} - Depart: {{ segment.departure|date:"d M Y H:i" }} Arrive: {{ segment.arrival|date:"d M Y H:i" }}</li>
            {% endfor %}
        </ul>
    </div>
    {% elif journeys %}
    <div class="trajets-section">
        <h3>Trajets disponibles</h3>
        {% for journey in journeys %}
        <div class="card mb-2">
            <div class="card-body">
                <p>{{ journey.route.departure_station.city }} {{ journey.route.departure_station.station_name }} à {{ journey.route.arrival_station.city }} {{ journey.route.arrival_station.station_name }} - Départ : {{ journey.departure_date_time|date:"d M Y H:i" }}</p>
            </div>
        </div>
        {% empty %}
        <p>Aucun trajet disponible selon les critères de recherche.</p>
        {% endfor %}
    </div>
    {% else %}
    <p class="form-search">Veuillez sélectionner des stations et une date pour voir les trajets disponibles ou les itinéraires avec correspondances.</p>
    {% endif %}

    <div class="text-center mb-2">
        <a href="{% url 'reservations:create_reservation' %}" class="btn btn-primary">Créer une nouvelle réservation</a>
    </div>
</div>

{% endblock %}

