{% extends 'reservationsapp/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/reservationsapp/list_journeys.css' %}" rel="stylesheet">

<div class="header-logo">
    <img src="{% static 'images/logositeweb.png' %}" alt="France Rail Logo">
</div>
<div class="container mt-3">

    <!-- Filter journeys form -->
    <div class="row justify-content-center">
        <div class="col-md-8 form-search">
            <form method="get">
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Filtrer les trajets</button>
            </form>
        </div>
    </div>

    

 <!-- Display the optimal path if best_route is available -->
{% if best_route %}
<div class="optimal-path">
    <h4>Optimal Path</h4>
    <p>Optimal path from start to end:</p>
    <ul>
        {% for station in best_route %}
        <li>{{ station }}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
 <!-- Otherwise, display the list of journeys -->
<div class="trajets-section">
    <h3>Trajets disponibles</h3>
    {% for journey in page_obj %}
    <div class="card mb-2">
        <div class="card-body">
            <p>{{ journey.route.departure_station.city }} {{ journey.route.departure_station.station_name }} à {{ journey.route.arrival_station.city }} {{ journey.route.arrival_station.station_name }} - Départ : {{ journey.departure_date_time|date:"d M Y H:i" }}</p>
        </div>
    </div>
    {% empty %}
        <p>Aucun trajet disponible.</p>
    {% endfor %}
        
        <!-- Contrôles de pagination -->
        {% if page_obj.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
    <div class="text-center mb-2">
        <a href="{% url 'reservations:create_reservation' %}" class="btn btn-primary">Nouvelle réservation</a>
    </div>
</div>
{% endblock %}