{% extends 'reservationsapp/base.html' %}

{% block title %}Liste des Réservations{% endblock %}

{% block content %}
<style>
    .reservation-item {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
        padding: 15px; 
        margin-bottom: 10px; 
        list-style-type: none; 
    }
    .reservation-link, .edit-btn {
        text-decoration: none; 
    }
</style>
<div class="container pt-2 my-2">
    <h2>Liste de vos réservations</h2>
    <ul style="padding-left: 0;"> 
        {% for reservation in reservations %}
            <li class="reservation-item">
                Réservation <a href="{% url 'reservation_detail' reservation.if_number %}" class="reservation-link">{{ reservation.if_number }}</a> pour {{ reservation.passager.first_name }} {{ reservation.passager.last_name }} sur le trajet de {{ reservation.trajet.depgare.ville }} - {{ reservation.trajet.depgare.nomgare }} à {{ reservation.trajet.arrgare.ville }} - {{ reservation.trajet.arrgare.nomgare }} le {{ reservation.trajet.depdh|date:"j F Y à H:i" }}.
                <a href="{% url 'edit_reservation' reservation.if_number %}" class="btn btn-warning edit-btn">Éditer</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
