{% extends 'reservationsapp/base.html' %}

{% block title %}Liste des Réservations{% endblock %}

{% block content %}
<div class="container pt-2 my-2 bg-primary text-white">
    <h1>Liste des Réservations</h1>
</div>

<ul>
    {% for reservation in reservations %}
        <li>
            Réservation <a href="{% url 'reservation_detail' reservation.if_number %}">{{ reservation.if_number }}</a> pour {{ reservation.passager.first_name }} {{ reservation.passager.last_name }} sur le trajet de {{ reservation.trajet.depgare.ville }} - {{ reservation.trajet.depgare.nomgare }} à {{ reservation.trajet.arrgare.ville }} - {{ reservation.trajet.arrgare.nomgare }} le {{ reservation.trajet.depdh|date:"j F Y à H:i" }}.
        </li>
    {% endfor %}
</ul>
{% endblock %}
