{% extends 'reservationsapp/base.html' %}

{% block title %}Détail de votre réservation - n°{{ reservation.if_number }}{% endblock %}

{% block content %}
<div class="container pt-2 my-2 bg-primary text-white">
    <h3>Informations</h3>
</div>

<div class="container pt-2 my-2">
    <p><b>Numéro de réservation :</b> {{ reservation.if_number }}</p>
    <p><b>Prénom et nom du passager :</b> {{ reservation.passager.first_name }} {{ reservation.passager.last_name }}</p>
    <p><b>Prénom et nom pour la facturation :</b> {{ reservation.client.first_name }} {{ reservation.client.last_name }}</p>
    <p><b>Date de la réservation :</b> {{ reservation.dateresa|date:"d-m-Y" }}</p>
    <p><b>Ville et gare de départ :</b> {{ reservation.trajet.depgare.ville }} - {{ reservation.trajet.depgare.nomgare }}</p>
    <p><b>Ville et gare d'arrivée :</b> {{ reservation.trajet.arrgare.ville }} - {{ reservation.trajet.arrgare.nomgare }}</p>
    <p><b>Date et heure du trajet :</b> {{ reservation.trajet.depdh|date:"d-m-Y H:i" }} - {{ reservation.trajet.arrdh|date:"d-m-Y H:i" }}</p>
    <a href="{% url 'edit_reservation' if_number=reservation.if_number %}" class="btn btn-warning">Modifier cette réservation</a>
</div>
{% endblock %}
