{% extends 'reservationsapp/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/reservationsapp/view_passenger.css' %}" rel="stylesheet">

<h2>Mes Passagers</h2>
<div class="container pt-2 pb-2">
<table>
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for passager in passagers %}
        <tr>
            <td>{{ passager.first_name }}</td>
            <td>{{ passager.last_name }}</td>
            <td>{{ passager.date_of_birth|date:"d M Y" }}</td>
            <td>
                <a href="{% url 'reservations:edit_passager' passager.id %}" class="btn btn-warning">Éditer</a> | 
                <a href="{% url 'reservations:delete_passager' passager.id %}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce passager ? Cette action est irréversible.');">Supprimer</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Aucun passager trouvé.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<a href="{% url 'reservations:create_passager' %}" class="btn btn-primary">Ajouter un nouveau passager</a>
{% endblock %}