{% extends 'reservationsapp/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/registration/account.css' %}" rel="stylesheet">

<div class="container mt-4">
    <h2>Mon compte</h2>
    <div class="info-panel d-flex justify-content-between mt-4">
        <p class="info-item"><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
        <p class="info-item"><strong>Prénom :</strong> {{ user.first_name }}</p>
        <p class="info-item"><strong>Nom :</strong> {{ user.last_name }}</p>
        <p class="info-item"><strong>E-mail :</strong> {{ user.email }}</p>
        <a href="{% url 'reservations:update_profile' %}" class="btn btn-primary">Modifier mes informations</a>
    </div>
</div>
{% endblock %}